@model SHM.AppWebHonorarioMedico.Models.UsuarioInternoEditViewModel

<div class="modal-header bg-info">
    <h5 class="modal-title"><i class="fas fa-user-edit"></i> Editar Usuario Interno</h5>
    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form id="editForm">
    @Html.AntiForgeryToken()
    <input type="hidden" id="GuidRegistro" name="GuidRegistro" value="@Model.GuidRegistro" />
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="Login">Login <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="Login" name="Login"
                           value="@Model.Login" maxlength="50" required placeholder="Usuario de acceso">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="Email">Email <span class="text-danger">*</span></label>
                    <input type="email" class="form-control" id="Email" name="Email"
                           value="@Model.Email" maxlength="200" required placeholder="correo@ejemplo.com">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="Nombres">Nombres <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="Nombres" name="Nombres"
                           value="@Model.Nombres" maxlength="100" required>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="ApellidoPaterno">Apellido Paterno <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="ApellidoPaterno" name="ApellidoPaterno"
                           value="@Model.ApellidoPaterno" maxlength="100" required>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="ApellidoMaterno">Apellido Materno</label>
                    <input type="text" class="form-control" id="ApellidoMaterno" name="ApellidoMaterno"
                           value="@Model.ApellidoMaterno" maxlength="100">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="NumeroDocumento">N° Documento</label>
                    <input type="text" class="form-control" id="NumeroDocumento" name="NumeroDocumento"
                           value="@Model.NumeroDocumento" maxlength="20" placeholder="DNI/CE">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="Celular">Celular</label>
                    <input type="text" class="form-control" id="Celular" name="Celular"
                           value="@Model.Celular" maxlength="20">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="IdRol">Rol <span class="text-danger">*</span></label>
                    <select class="form-control" id="IdRol" name="IdRol" required>
                        <option value="">-- Seleccione --</option>
                        @foreach (var rol in Model.Roles)
                        {
                            if (rol.Value == Model.IdRol.ToString())
                            {
                                <option value="@rol.Value" selected>@rol.Text</option>
                            }
                            else
                            {
                                <option value="@rol.Value">@rol.Text</option>
                            }
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="Activo">Estado <span class="text-danger">*</span></label>
                    <select class="form-control" id="Activo" name="Activo" required>
                        @if (Model.Activo == 1)
                        {
                            <option value="1" selected>Activo</option>
                            <option value="0">Inactivo</option>
                        }
                        else
                        {
                            <option value="1">Activo</option>
                            <option value="0" selected>Inactivo</option>
                        }
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
            <i class="fas fa-times"></i> Cancelar
        </button>
        <button type="button" class="btn btn-info" onclick="submitEdit()">
            <i class="fas fa-save"></i> Actualizar
        </button>
    </div>
</form>
