@model SHM.AppWebHonorarioMedico.Models.LoginView
@using Microsoft.Extensions.Configuration
@using System.Configuration;


@inject IConfiguration Configuration
@{
    ViewBag.Title = "ADG";
    Layout = null;

    string InstanceName = Model.InstanceName;
    string LoginBackgroundColor = Model.LoginBackgroundColor;
    string nombreInstancia = Model.InstanceName;
    string CompanyName = Model.CompanyName;
    string Version = Model.Version;
    string Year = Model.Year;
    string PathUrl = Model.WebRootPath;
    string AppFullScreenBg = "app-fullscreen-bg";
    string backgroundImg = Configuration.GetSection("AppSettings")["BackgroundImage"] ?? "";
    string applogo = "logo_login.jpg";


    if (InstanceName != "PROD")
    {
        backgroundImg = Configuration.GetSection("AppSettings")["BackgroundImageNoProd"] ?? "";
    }

}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SGD</title>

    <link rel="shortcut icon" href="~/favicon.ico" />

    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/vendor/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/vendor/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/vendor/dist/css/adminlte.css">

    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

    <style>

        .app-loading {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: fixed;
            display: block;
            opacity: 0.5;
            background-color: #000;
            z-index: 99;
            text-align: center;
        }

        .app-loading-image {
            position: absolute;
            top: 50%;
            z-index: 100;
        }

        .app-logo {
            width: 150px;
            margin: auto;
        }

        .app-logo-fillima {
            width: 200px;
            margin: auto;
        }


        #app-fullscreen-bg:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(0,0,0,0.3);
        }

        #app-fullscreen-bg {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: url(@PathUrl/images/@backgroundImg) no-repeat center center fixed;
            background-size: cover;
        }

        .adg-btn-secondary {
            color: #fff;
            background-color: #5d1665 !important;
            border-color: #5d1665 !important;
            box-shadow: none;
        }

    </style>
</head>

<body class="hold-transition login-page" style="background-color:@LoginBackgroundColor;">

    <div id="@AppFullScreenBg" class="login-page" style="background-color:@LoginBackgroundColor;">

        <div id="divLoading" name="divLoading" class="app-loading">
            <div class="d-flex justify-content-center">
                <div class="app-loading-image text-white" style="width: 5rem; height: 5rem;" role="status">
                    <div class="overlay"><i class="fas fa-5x fa-sync-alt fa-spin"></i><div class="text-bold pt-2">Loading...</div></div>
                </div>
            </div>
        </div>

        <div class="login-box mt-2">

            <div class="card">

                <div class="card-body">


                    <div style="border: 0px solid black; justify-content: center;display:flex" class="mb-3">
                        <img src="~/images/@applogo"
                             style="margin-top: 10px;
                        width: 200px;
                        margin-left: 19px;" />
                    </div>


                    <div style="text-align:center;" class="mt-3 mb-3">
                        <h3 style="color:#5d1665">Iniciar Sesion</h3>
                    </div>
                    <form asp-controller="Auth" asp-action="Login" method="post">

                        <div class="input-group mb-0">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                            </div>

                            <input asp-for="Username" class="form-control" placeholder="Usuario" autocomplete="off" />

                        </div>

                        <div class="input-group  mt-0 mb-3">
                            <span asp-validation-for="Username" class="text-danger small" id="vmUsername"></span>
                        </div>

                        <div class="input-group mb-0">

                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
                            </div>

                            <input asp-for="Password" type="password" class="form-control" required placeholder="Contraseña" />

                            <div class="input-group-append">
                                <span class="input-group-text" onclick="f_password_show_hide();">
                                    <i class="fas fa-eye" id="show_eye"></i>
                                    <i class="fas fa-eye-slash d-none" id="hide_eye"></i>
                                </span>
                            </div>

                        </div>

                        <div class="input-group mb-3">
                            <span asp-validation-for="Password" class="text-danger small" id="vmPassword"></span>
                        </div>

                        <div class="input-group">

                            @if (InstanceName == "PROD")
                            {
                                <button type="submit" class="btn btn-danger btn-block adg-btn-secondary" id="btnIngresar" name="btnIngresar">Ingresar</button>
                            }
                            else if (InstanceName == "DEV")
                            {
                                <button type="submit" class="btn btn-primary btn-block adg-btn-secondary" id="btnIngresar" name="btnIngresar">Ingresar</button>
                            }
                            else if (InstanceName == "TEST")
                            {
                                <button type="submit" class="btn btn-info btn-block" id="btnIngresar" name="btnIngresar">Ingresar</button>
                            }
                            else if (InstanceName == "QA")
                            {
                                <button type="submit" class="btn btn-success btn-block" id="btnIngresar" name="btnIngresar">Ingresar</button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-dark btn-block" id="btnIngresar" name="btnIngresar">Ingresar</button>
                            }

                        </div>

                        @if (!string.IsNullOrEmpty(ViewBag.LoginMessage))
                        {
                            <div class="alert alert-default-danger alert-dismissible fade show mt-3" role="alert">
                                <div class="text-center">@ViewBag.LoginMessage</div>
                            </div>
                        }

                        <div class="input-group mt-1" style="justify-content: center;">
                            <a class="nav-link" href="@Url.Action("RecuperarClave", "Auth")">
                                ¿OLVIDASTE TU CONTRASEÑA?
                            </a>
                        </div>

                        <div class="input-group mt-1" style="justify-content: center;">
                            <a class="nav-link" target="_blank" href="@Url.Action("Manuales", "Publico")">
                                Ver Manuales y Videos de Capacitación
                            </a>
                        </div>

                        <div class="text-danger text-center" id="msg-error" name="msg-error"></div>

                        <input asp-for="InstanceName" type="hidden" />
                        <input asp-for="LoginBackgroundColor" type="hidden" />
                        <input asp-for="Year" type="hidden" />
                        <input asp-for="CompanyName" type="hidden" />
                        <input asp-for="Version" type="hidden" />

                    </form>

                </div>
                <div class="card-footer text-center text-xs">
                    Copyright &copy; @Year @CompanyName.<br />
                    All rights reserved.<br />
                    Versión @Version
                </div>

            </div>

            @if (InstanceName != "PROD")
            {
                if (InstanceName == "DEV")
                {
                    <div class="alert alert-primary mt-2 mb-3" role="alert">
                        <h4 class="text-center">
                            @Model.InstanceDescription
                        </h4>
                    </div>
                }
                else if (InstanceName == "TEST")
                {
                    <div class="alert alert-info mt-2 mb-3" role="alert">
                        <h4 class="text-center">
                            @Model.InstanceDescription
                        </h4>
                    </div>
                }
                else if (InstanceName == "QA")
                {
                    <div class="alert alert-success mt-2 mb-3" role="alert">
                        <h4 class="text-center">
                            @Model.InstanceDescription
                        </h4>
                    </div>
                }
                else
                {
                    <div class="alert alert-dark mt-2 mb-3" role="alert">
                        <h4 class="text-center">
                            @Model.InstanceDescription
                        </h4>
                    </div>
                }
            }

        </div>


    </div>


    <div class="modal fade" data-backdrop="static" data-keyboard="false" id="OlvidoContrasenaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="registro-modal-titulo">Olvido Contraseña</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul>
                        <li>El usuario y la contraseña son los mismos que utilizas para acceder a la red corporativa y al correo electrónico</li>
                        <li>Si no recuerdas tu contraseña, por favor comunícate con la Mesa de Ayuda.</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">
                        Cerrar
                    </button>
                </div>
            </div>
        </div>
    </div>


    <!-- jQuery -->
    <script src="~/vendor/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/vendor/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/vendor/dist/js/adminlte.min.js"></script>

    <script src="~/vendor/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <script>

        $(document).ready(function () {

            var PathUrl = '@PathUrl';

            $('#divLoading').hide();

            $('#btnIngresar').click(function () {

                try {

                    var error = false;
                    var usuario = $("#Username").val();
                    var clave = $("#Password").val();

                    if (usuario == null || usuario.length == 0) {
                        $("#vmUsername").html("Ingrese usuario");
                        error = true;
                    }

                    if (clave == null || clave.length == 0) {
                        $("#vmPassword").html("Ingrese contraseña");
                        error = true;
                    }

                    if (error) {
                        return false;
                    }
                    else {
                        $('#divLoading').show();
                        return true;
                    }

                } catch (ex) {
                    console.log(ex.message);
                    $("#msg-error").text('Error: ' + ex.message);
                    return false;
                }

            });

        });

        $('.btn-loading').on('click', function () {
            $('#divLoading').show();
        });

        function f_password_show_hide() {
            var x = document.getElementById("Password");
            var show_eye = document.getElementById("show_eye");
            var hide_eye = document.getElementById("hide_eye");
            hide_eye.classList.remove("d-none");
            if (x.type === "password") {
                x.type = "text";
                show_eye.style.display = "none";
                hide_eye.style.display = "block";
            } else {
                x.type = "password";
                show_eye.style.display = "block";
                hide_eye.style.display = "none";

            }
        }

    </script>

</body>
</html>



